body {
  margin: 0;
  background-color: var(--bg-color);
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100%;
  justify-content: center;
  padding-top: 60px;
}
/*
:root {
  --border-color: #c8b164;
  --bg-color: #000000;
  --fg-color: #eed275;
  --btn-bg-color: #636361;
  --btn-border-color: #636361;
  --btn-fg-color: #fae2b1;
  --txt-ar-bg-color: #e6f4b2;
  --li-bg-color: #e6f4b2;
  --del-btn-color: rgb(200, 129, 6);
  --del-btn-hover-color: rgb(90, 58, 4);
}
*/
/*previous until 02oct2025
:root {
  --border-color: #797ca7;
  --bg-color: #000000;
  --fg-color: #c5c8fa;
  --btn-bg-color: #69698c;
  --btn-border-color: #69698c;
  --btn-fg-color: #eaeff9;
  --txt-ar-bg-color: #c5c8fa;
  --li-bg-color: #c5c8fa;
  --del-btn-color: rgb(116, 78, 213);
  --del-btn-hover-color: rgb(105, 23, 213);
}
*/
/*current 02oct2025*/
/*
:root {
  --border-color: #9699bc;
  --bg-color: #000000;
  --fg-color: #ffffff;
  --btn-bg-color: rgba(180, 39, 219, 1);
  --btn-border-color: rgba(180, 39, 219, 1);
  --btn-fg-color: #ffffff;
  --txt-ar-bg-color: #f1c5fa;
  --li-bg-color: #f1c5fa;
  --del-btn-color: rgb(116, 78, 213);
  --del-btn-hover-color: rgb(105, 23, 213);
}
*/
:root {
  --border-color: #9699bc;
  --bg-color: #000000;
  --fg-color: #ffffff;
  --btn-bg-color: rgba(170, 14, 214, 1);
  --btn-border-color: rgba(170, 14, 214, 1);
  --btn-fg-color: #ffffff;
  --txt-ar-bg-color: #f1c5fa;
  --li-bg-color: #f1c5fa;
  --del-btn-color: rgb(116, 78, 213);
  --del-btn-hover-color: rgb(105, 23, 213);
}

/*light mode
:root {
  --border-color: #676ef8;
  --bg-color: #ffffff;
  --fg-color: #5058f7;
  --btn-bg-color: #5058f7;
  --btn-border-color: #5058f7;
  --btn-fg-color: #ffffff;
  --txt-ar-bg-color: #ffffff;
  --li-bg-color: #d5d5f5;
  --del-btn-color: #5058f7;
  --del-btn-hover-color: #3e46e3;
}
*/

#root {
  width: 100%;
  min-width: 300px;
}
main {
  width: 100%;
  max-width: 580px;
  min-width: 300px;
  margin: auto;
  padding: 0 10px 0 10px;
}
.app-border {
  border-radius: 8px;
  border: 2px solid var(--border-color);
  padding: 0 20px 0 20px;
  margin-top: 10px;
}
h1, p {
 color: var(--fg-color);
}
button{
  border-radius: 6px;
  border: 1px solid var(--btn-border-color);
  padding: 0.6em 1.2em;
  margin-top: 12px;
  margin-bottom: 7px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn-bg-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--btn-fg-color);
  width: 100%;
}
button:hover {
  border-color: var(--fg-color);
}
button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}
.app-name {
  display: flex;
  justify-content: center;
  color: var(--fg-color);
  font-family: orbitron;
  letter-spacing: 3px;
  font-size: 50px;
  font-weight: bold;
  border-bottom: solid 4px rgba(148, 56, 240, 1);
}
.profile-banner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-image: linear-gradient(180deg, rgba(180, 39, 219, 1) 10%, rgba(87, 16, 168, 1) 100%);
  width: 100%;
  height: 100px;
  border-radius: 6px;
  border: 2px solid #000;
  padding-top: 10px;
}
/*
#so-btn {
  background: none;
  border: none;
  color: var(--fg-color);
  cursor: pointer;
  text-decoration: none;
  width: 30%;
  text-align: left;
  padding: 0;
}
#so-btn:hover {
  text-decoration: underline;
}
*/
#top-so-btn {
  background: none;
  background-color: var(--btn-bg-color);
  border: 1px solid var(--btn-border-color);
  border-radius: 6px;
  color: var(--fg-color);
  cursor: pointer;
  text-decoration: none;
  width: 30%;
  height: 32px;
  text-align: center;
  padding: 0 0 2px 0;
}
#top-so-btn:hover {
  border-color: var(--fg-color);
}
p {
  padding: 0;
  margin: 0;
}
label {
  color: var(--fg-color);
  padding-bottom: 10px;
}
textarea {
  width: 100%;
  border-radius: 6px;
  resize: none;
  padding: 5px;
  background-color: var(--txt-ar-bg-color);
  margin-top: 6px;
}
textarea::placeholder {
  color: #333;
  opacity: 1; /* Firefox */
}
textarea::-ms-input-placeholder { /* Edge 12 -18 */
  color: #333;
}
#cncl-btn, #cncl-del-btn {
  padding: 6px;
  width: 30%;
  float: left;
  margin-left: 10%;
}
#cncl-del-btn:hover {
  border-color: var(--bg-color);
}
#sav-btn, #confirm-del-btn {
  padding: 6px;
  width: 30%;
  float: right;
  margin-right: 10%;
}
#confirm-del-btn:hover {
  border-color: var(--bg-color);
}
.spacer{
  height: 2px;
  clear: both;
}
ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  gap: 1px;
  background-color: transparent;
  border-radius: 8px;
  overflow: auto;
  width: 100%;
}
li {
  background-color: var(--li-bg-color);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  padding: 0.6em 1.2em;
  margin-bottom: 12px;
  border-radius: 6px;
  width: 100%;
}
li:hover {
  background-color: var(--li-bg-color);
}
/*
a {
  font-weight: 800;
  text-decoration: none;
}
*/
.material-symbols-outlined {
  color: var(--del-btn-color);
  float: right;
  user-select: none;
}
.material-symbols-outlined:hover {
  color: var(--del-btn-hover-color);
  cursor: pointer;
}
.bottom-space {
  height: 24px;
}